*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--color-black);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
  border-radius: 20px;
  border: 3px solid var(--color-golden);
}

.section__padding {
  padding: 60px 100px;
}

.section__margin {
  margin-left: 10px;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.app__bg {
  background: url('./assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.custom__button {
    background: var(--color-black);
    color: var(--color-golden);
    font-family: var(--font-base);
    font-weight: 700;
    letter-spacing: 0.04em;
    line-height: 28px;
    font-size: 16px;
    padding: 0.5rem 1.5rem;
    border-radius: 2px;
    border: 5px solid var(--color-golden);
    outline: none;
    cursor: pointer;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--color-black), 0 0 0.5em 0 var(--color-golden);
    transition:all 0.3s;
}

.custom__button:hover {
  color: black;
  background-color: var(--color-golden);
  filter: drop-shadow(0 0 10px var(--color-golden));
}

.p__headtext {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 2px;
  font-size: 50px;
  line-height: 75px;
}

.p__text {
  font-family: var(--font-second);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 28px;
  font-size: 16px;
}

.p__labeltext {
  font-family: var(--font-inputs);
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 11px;
  color: var(--color-golden);
  font-style: italic;
  font-weight: 900;
}



@media screen and (min-width: 1920px) {
  .app__wrapper {
    min-height: 60vh;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column-reverse;
  }

  .app__wrapper_img {
    margin: 0 0 60px 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 65%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  
  .p__headtext {
    font-size: 30px;
    line-height: 35px;
  }

  .p__text {
    font-size: 14px;
  }
}
